/*
 TP1, AEM - UNQ | CSS v. 1.0
 Copyright 2024 (c) Matias Petrini
 Prohibida su copia total o parcial. Todos los derechos reservados.
*/

/**
* 1.0 - Tipografías
*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100..900&family=Merriweather:wght@400;700&display=swap');
/**
* 2.0 - Resetea la configuración por defecto
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
img { max-width: 100%; }
sup { vertical-align: super; font-size: smaller; }
html { font-size: 100%; -webkit-text-size-adjust: 100%;	-ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }
body { font-family: 'Inter', sans-serif; font-size: 20px; line-height: 32px; background-color: #fff; color: #000; }
p { margin-bottom: 1.5em; text-align: justify; }
p.aem-quote { font-size: 14px; line-height: 26px; text-align: justify; max-width: 650px; width: 100%; margin-left: 250px; }
p.aem-quote-right { font-size: 14px; line-height: 26px; text-align: right; margin-top: 0.2px; }
ul { padding-left: 40px; }
li { font-size: 15px; margin-bottom: 0.7em; text-align: justify; }
strong { font-weight: 700; }
em { font-style: italic; }
a, a:link, a:visited { color: #de0a11; font-weight: 700; text-decoration: none; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
a:hover { color: #fff; font-weight: 700; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; background-color: #000; padding: 2px 4px; }
.aem-logo:hover { padding: 0px; }
i.fa-circle-info { font-size: 15px; }
i.fa-circle-info:hover { color: #de0a11; cursor: pointer; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
h1{ font-family: 'Anton', sans-serif; font-size: 28px; line-height: 40px; margin: 0px auto 0.2em;color:#fff; background-color: #000; padding: 2px 10px; display: inline-block; text-transform: uppercase; }
h2{font-family: 'Anton', sans-serif; font-size: 14px;margin: 0px auto;width: 100%;color:#fff; background-color: #000; text-transform: uppercase;}
h3{font-family: 'Merriweather', sans-serif; font-size: 23px; line-height: 35px;margin: 1.5em 0px;width: 100%;font-weight: 700; text-align: justify; }
h4{font-family: 'Anton', sans-serif; font-size: 14px;margin: 0px auto;width: 100%;color:#fff; background-color: #000; text-transform: uppercase;}
h5{font-family: 'Anton', sans-serif; font-size: 11px;margin: 0px auto;width: 100%;color:#fff; background-color: #000; text-transform: uppercase;}
.aem-tp1-preheader { width: 100%; height: 3px; background: url(aem-border.jpg) no-repeat top center; background-size: cover; display: block; }
#aem-tp1-header { width: 100%; background-color: #000; padding: 10px 0px; }
#aem-tp1-splash { width: 100%; height: 600px; background: url("aem-splash.jpg") no-repeat center; background-size: cover; }
#aem-tp1-splash-anfibia { width: 100%; height: 600px; background: url("aem-anfibia.jpg") no-repeat center; background-size: cover; }
#aem-tp1-splash-pokemon { width: 100%; height: 600px; background: url("aem-pokemon.jpg") no-repeat center; background-size: cover; }
#aem-tp1-splash-13razones { width: 100%; height: 600px; background: url("aem-13reasons.jpg") no-repeat center; background-size: cover; }
#aem-tp1-content { width: 100%; margin: 0 auto; }
#aem-tp1-footer { width: 100%; background-color: #202020; text-align: center; font-size: 14px; line-height: 22px; color: #ccc; }
div.aem-gifs { width: 100%; display: inline-block; text-align: center; }
.aem-gifs img { width: 275px; height: 155px; margin: 0px 12px; }
.aem-gifs img:first-child { margin: 0px 12px 0px 0px; }
.aem-gifs img:last-child { margin: 0px 0px 0px 12px; }
div.aem-wrapper { max-width: 1000px; width: 100%; min-height: 100%; margin: 0 auto; padding: 50px; position: relative; }
div.aem-wrapper-notpadding { max-width: 1000px; width: 100%; margin: 0 auto; }
div.aem-youtube { width: 100%; margin: 1.5em auto; text-align: center; }
div.aem-autor { display: block; color: #fff; font-size: 14px; margin-top: 15px; }
div.aem-autor p { line-height: 18px; }
div.aem-data { position: absolute; bottom: 0; margin-bottom: 15px; }
img.aem-matias { width: 60px; height: 60px; border-radius: 60px; border: 2px solid #fff; float: left; margin-right: 15px; }
img.aem-logo { width: 293px; height: 75px; margin: 0px auto; text-align: center; display: block; }
img.aem-poster { width: 249px; height: 393px; box-shadow: 0 0 25px rgba(0,0,0,.1); -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; margin: 0px 12px; border-radius: 5px; }
.aem-poster:hover { -webkit-transform:scale(0.95); /* Safari and Chrome */ -moz-transform:scale(0.95); /* Firefox */ -ms-transform:scale(0.95); /* IE 9 */ -o-transform:scale(0.95); /* Opera */ transform:scale(0.95); background-color: transparent; padding: 0px; }
.tooltip { position: relative; margin: 0px 0px 0px 2px; }
.tooltip .tooltiptext { visibility: hidden; width: 500px; background-color: #202020; color: #fff; text-align: justify; border-radius: 6px; padding: 8px 10px; position: absolute; z-index: 1; bottom: 125%; left: 50%; margin-left: -250px; opacity: 0; transition: opacity 0.3s; font-size: 12px; line-height: 18px; }
.tooltip .tooltiptext::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent; }
.tooltip:hover .tooltiptext { visibility: visible; opacity: 1; }
.aem-tooltip-info { width: 20px; height: 20px; border: 0px; }
.twitter-tweet { margin-left: auto!important; margin-right: auto!important; }